/* https://blog.hubspot.com/marketing/web-design-trends-2017 */

/* body {
  box-sizing: border-box;
  /* height: 100vh;
  width: 100vw; */
/* position: absolute; 
} */
.bg {
  background-image: linear-gradient(
      45deg,
      rgba(39, 7, 7, 0.192),
      rgba(100, 100, 100, 0.5)
    ),
    url(./closet.png);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* 
.container {
  width: 100vw;
  height: 50vh; */
/* display: flex;
  align-items: center;
  text-align: center;
  position: relative;
} */

button {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
