/* https://blog.hubspot.com/marketing/web-design-trends-2017 */

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  /* position: absolute; */
  margin: 0px;
}
.bg {
  background-image: linear-gradient(
      45deg,
      rgba(39, 7, 7, 0.192),
      rgba(100, 100, 100, 0.5)
    ),
    url(./background.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  background-attachment: fixed;
}
