.gallery {
  display: flex;
  padding: 2px;
}
.column {
  display: flex;
  /* flex-direction: column; */
  width: 25%;
}

/* .imageGal {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/* .imageGal .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/* .image-item {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
} */
