.nav {
  display: flex;
  position: absolute;
}

.open {
  transform: translate3d(0, 0, 0);
}

.brand {
  list-style: none;
  margin: 0;
}

.item {
  text-decoration: none;
  padding: 10px;
}

.hamburger {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 11;
}

.line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: black;
  margin-block: 10px;
  border-radius: 4px;
  transition: transform 0.5s;
  opacity: 0.25s;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
.hamburger.active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
